.admin {
  display: flex;
  height: 100vh; /* Full height */
  /* Prevent sidebar from scrolling */
}

.sidebar {
  width: 250px; /* Sidebar fixed width */
  height: 100vh; /* Full height */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background: white;
  overflow-y: auto; /* Allows only sidebar content to scroll */
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(149, 11, 11, 0.1);
}

.admin-content {
  flex-grow: 1;
  margin-left: 3px; /* Push content to the right */
  overflow-y: auto;
  height: 100vh; /* Allow content to be scrollable */
  padding: 20px;
}

@media (max-width: 800px) {
  .admin {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .admin-content {
    margin-left: 0;
  }
}
